# The code has been tested with the versions written with py3, and we make the requirement >= to aid compatibility
# python is not clear whether a module on pypi is py2 or py3 so we hope the versions listed give us py3.
# note: for rh7 you will need urllib3 < 2.0 as it has ssl1.0.2

wheel>=0.36.1
numpy>=1.20.1
h5py>=3.4.0
# -e git+https://github.com/h5py/h5py.git@2.6.0#egg=h5py
enum34>=1.1.9
git+https://github.com/percival-detector/odin-control.git@1.3.0#egg=odin-control
# NNNrc means it is version NNN of odin-data with some percival-specific changes.
git+https://github.com/percival-detector/odin-data.git@1.9.0rc#egg=odin-data&subdirectory=python
influxdb>=5.2.0
xlrd>=2.0.0
nose>=1.3.6
coverage>=6.1
sphinx>=4.1.1
mock>=4.0.1
# these are for the buttongui
pyserial>=3.4
requests>=2.26
# this is for the html-liveview
#opencv-python==4.5.5.64

